.primeira__section {
    background: var(--cor-header);
}

.container__primeira {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    /* height: 685px; */
}

.frame_3 {
    display: flex;
    align-items: center;
    background: rgba(104, 113, 209, 0.2);
    border-radius: 50px;
    width: max-content;
}

.frame_3 span {
    background: rgba(104, 113, 209, 1);
    padding: 12px;
    border-radius: 50%;
    margin: 10px 7px 10px 12px;
}

.frame_3 p {
    padding: 17.5px 55px 17.5px 10px;
    font-weight: 300;
    color: var(--cor-branca);
}

h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    margin: 31px 0 18px 0;
    width: 60%;
}

.content {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(177, 177, 177, 1);
    width: 60%;
    margin: 18px 0 37px 0;
}

.btn {
    background: var(--cor-primaria);
    color: var(--cor-branca);
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid transparent;
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
    margin-right: 56px;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid var(--cor-primaria);
}

.botoes {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.botoes a {
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
}

.botoes__icone {
    font-size: 30px;
    margin-right: 14px;
}

.botaum_1 a {
    display: flex;
    align-items: center;
}

.botaum_1 a:hover {
    color: var(--cor-primaria);
    transition: all 400ms ease;
}

.charts {
    position: relative;
}

.charts-item {
    position: absolute;
    top: 190px;
    left: -160px;
}

.left {
    padding-top: 60px;
}

.right {
    display: flex;
    justify-content: center;
}



/* =-=-=-=-= @media query (tablet) -=-=-=-= */

@media screen and (max-width: 1024px) and (min-width:600px) {
    .primeira__section {
        width: 100%;
    }

    .container__primeira {
        padding-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .frame_3 {
        grid-area: frame_3;
    }

    .left {
        width: min-content;
    }

    .left h1 {
        grid-area: h1;
        text-align: center;
        width: 90%;
        font-size: 40px;
        line-height: 40px;
    }

    .moca {
        width: 100%;
        grid-area: moca;
    }

    .content {
        grid-area: conteudo;
        width: 100%;
        margin: 2rem 0;
    }

    .charts {
        display: none;
    }

    .botoes {
        width: 100%;
        margin-bottom: 2rem;
    }
}

/* =-=-=-=-= @media query (mobile) -=-=-=-= */

@media screen and (max-width: 600px) {
    .primeira__section {
        width: 100%;
        text-align: center;
        margin-top: 0;
        padding-top: 2rem;
        /* margin-bottom: 80px; */
    }

    .mobile {
        width: 90%;
        margin: 2rem auto 2rem;
        border: 2px solid var(--cor-primaria);
        border-radius: 20px;
        padding: 1rem 2rem 0 2rem;
    }

    .container__primeira {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .charts-item {
        display: none;
        top: 50px;
        right: 1000px;
        width: 75%;
    }

    .left {
        padding-top: 2.5rem;
    }

    .right img {
        width: 80%
    }

    .frame_3 {
        width: 100%;
    }

    h1 {
        width: 100%;
        font-size: 40px;
        line-height: 45px;
    }

    .content {
        width: 100%;
        text-align: center;
    }

    .botoes {
        display: flex;
        justify-content: center;
    }

    .botoes .btn {
        margin-right: 1rem;
    }

}