header {
    background: var(--cor-header);
    height: max-content;
}

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista__header {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    gap: 2rem;
    margin-left: 4rem;
}


a {
    color: var(--cor-branca);
    font-weight: 300;
}

.lista__header a:hover {
    color: var(--cor-primaria);
    transition: all 200ms ease-in-out;
}

.login:hover {
    color: var(--cor-primaria);
    transition: all 200ms ease-in-out;
}

.lista__login {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 2rem;
}

.lista__header-item a {
    font-weight: 500;
}

.botao_sign {
    background: rgba(95, 174, 196, 0.2);
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 300;
    font-size: 13px;
    border: 1px solid transparent;
}

.botao_sign:hover {
    background-color: transparent;
    transition: all 200ms ease-in-out;
    border: 1px solid var(--cor-primaria);
}

.header__mobile {
    display: none;
}

.ui {
    display: none;
}


/* =-=-=-=-= @media query (tablet) -=-=-=-= */

@media screen and (max-width: 1024px) and (min-width:600px) {
    header {
        width: 100%;
    }

    .container__header {
        flex-direction: column;
    }

    .logo {
        padding: 1rem 0;
    }

    .lista__header {
        padding: 0;
        gap: 2rem;
        margin-left: 1rem;
    }

    .lista__login {
        display: none;
    }

    .ui {
        display: block;
    }
}

/* =-=-=-=-= @media query (mobile) -=-=-=-= */

@media screen and (max-width: 600px) {
    header {
        width: 100%;
        position: fixed;
        z-index: 5;
    }

    .container__header {
        background: blue;
        display: none;
    }

    .header__mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
    }

    .hamburguer {
        font-size: 25px;
    }



}