.direita {
    width: 45%;
}

.container__segunda {
    display: flex;
    justify-content: space-between;
    padding-top: 250px;
}

.direita h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--cor-header);
}

.direita p {
    font-size: 20px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--cor-clara);
}

.direita__lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.direita h3 {
    font-size: 19px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    color: var(--cor-header);
}

.vetor {
    display: flex;
    align-items: center;
}

.vetor img {
    margin-right: 16px;
}

.botaum:hover {
    color: var(--cor-header);
}

.esquerda img {
    padding-bottom: 133px;
}

/* =-=-=-=-= @media query (tablet) -=-=-=-= */

@media screen and (max-width: 1024px) and (min-width:600px) {
    .container__segunda {
        padding: 4rem 0;
        /* padding: 12rem 0 4rem 0; */
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .conteudo__courses {
        margin-top: 2rem;
        border: 2px solid var(--cor-primaria);
        border-radius: 20px;
        padding: 0 1.5rem;
    }

    .esquerda {
        width: 100%;
    }

    .direita {
        width: 100%;
        padding: 0 2rem;
    }

    .esquerda img {
        width: 100%;
        padding: 0;
    }

    .direita h2 {
        width: 100%;
        text-align: center;
        line-height: 45px;
    }

    .direita p {
        font-size: 15px;
        margin-top: 1.5rem;
        text-align: center;
    }

    .direita h3 {
        font-size: 15px;
        line-height: 15px;
    }

    .direita__lista {
        padding: 30px 0 30px 0;
        gap: 25px;
    }

    .vetor img {
        width: 40%;
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    .container__segunda {
        flex-direction: column;
        padding-top: 0;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .direita h2,
    .direita p {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .direita h2 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .vetor h3 {
        font-size: 14px;
        line-height: 14px;
    }

    .vetor img {
        width: 40%;
        margin-right: 8px;
    }

    .direita__lista {
        padding: 2.5rem 1rem;
        gap: 25px;
    }

    .conteudo__courses {
        width: 90%;
        border: 2px solid var(--cor-primaria);
        margin: 50px auto;
        border-radius: 20px;
        position: relative;
    }

    .esquerda img {
        background: var(--cor-bg);
        width: 80%;
        display: flex;
        padding-bottom: 0;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .direita {
        width: 90%;
    }

    .conteudo__courses .botaum {
        position: absolute;
        bottom: -15px;
        left: 20px;
    }

    .botaum:hover {
        background: var(--cor-primaria);
        transform: scale(1.05);
        transition: all 400ms ease-in-out;
    }
}